IDI_ICON1 ICON DISCARDABLE "../cmake/winrc/obs-studio.ico"
#if defined(UNDER_CE)
#include <winbase.h>
#else
#include <winver.h>
#endif

#define VER_FILEVERSION			2,0,3,0
#define VER_FILEVERSION_STR		"2.0.3.0\0"
#define VER_PRODUCTVERSION		2,0,3,0
#define VER_PRODUCTVERSION_STR	"2.0.3.0\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "080404b0"
		BEGIN
			VALUE "CompanyName", " SHANGHAI VANGEN NETWORK."
			VALUE "FileDescription", "小蜜蜂视频直播系统"
			VALUE "FileVersion", VER_FILEVERSION_STR
			VALUE "InternalName", "xmf.exe"
			VALUE "LegalCopyright", "Copyright (C)2004-2018"
			VALUE "OriginalFilename", "xmf.exe"
			VALUE "ProductName", "xmf"
			VALUE "ProductVersion", VER_PRODUCTVERSION_STR
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x804, 1200
	END
END
